<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> {% block title %}Page{% endblock %} | ttnBristol</title>

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'js/jquery-ui/css/no-theme/jquery-ui-1.10.3.cutom.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-icons/entypo/css/entypo.css' %}">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/neon-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/neon-forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/osmium-app.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css.map' %}">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <!--[if lt IE 9]><script src="{% static 'js/ie8-responsive-file-warning.js' %}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="page-body">

    <div class="container">

        <!-- Site Header -->
        <div class="header">

            <!-- Right Aligned Nav options -->
            <ul class="nav nav-pills pull-right account-nav">
                <!-- User Account dropdown -->
                <li>
                    {% if user.is_authenticated %}
                        <ul class="pull-left">
                            <!-- Profile Info -->
                                
                                <li class="dropdown"><!-- add class "pull-right" if you want to place this from right -->
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {{ user }} <span class="caret"></span>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <!-- Profile sub-links -->
                                        <li><a href="/iotdev/mydevs/"><i class="entypo-cog"></i>Manage Devices</a></li>
                                        <li><a href="{% url 'yourplan' %}"><i class="entypo-suitcase"></i>Your plan</a></li>
                                        <li><a href="{% url 'auth_logout' %}"><i class="entypo-logout"></i>Logout</a></li>
                                    </ul>
                                </li>
                        </ul>
                    {% else %}
                        <a href="{% url 'auth_login' %}">Login</a> 
                        
                    {% endif %}
                </li>
            </ul>

            <!-- Logo -->
            <a href="{% url 'home' %}">Home.</a>
                

            <!-- Primary Navigation -->
            
        </div> <!-- End Header -->

        {% block content %}{% endblock %}
        {% block body %}{% endblock %}

        <!-- Footer -->
        <footer class="main">
            <strong> &copy; 2016 Nigel T Legg</strong>

            <ul class="pull-right footer-nav">
                <li><a href="{% url 'helpsupport'%}">Support</a></li>
                <li><a href="{% url 'contact'%}">Contact Us</a></li>
            </ul>
        </footer>

    </div> <!-- End Container -->

    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>


    {% block javascripts %}{% endblock javascripts %}
</body>
</html>
